<section class="footer-wrapper">
	<footer class="footer">
		<div class="footer-content-container">
			<div class="footer-item footer-logo-container">
				<img class="footer-logo" src="../../../assets/images/logo.png">
			</div>
			<div class="footer-item footer-link-container ta-link-container">
				<a class="footer-link ta-link" href="#">Tutor Application</a>
			</div>
			<div class="footer-item footer-link-container support-link-container">
				<a class="footer-link support-link" href="#">Support</a>
			</div>
			<div class="footer-item footer-link-container au-link-container">
				<a class="footer-link au-link" href="#">About Us</a>
			</div>
			<div class="footer-item footer-link-container tos-link-container">
				<a class="footer-link tos-link" href="#">Terms of Service</a>
			</div>
			<div class="footer-item footer-link-container blog-link-container">
				<a class="footer-link blog-link" href="#">Blog</a>
			</div>
			<div class="footer-item copyright-container">
				<span class="copyright-text">All rights reserved by <span class="copyright-stress">Edu Portal</span> LTD. 2016</span>
			</div>
		</div>
	</footer>
</section>